/*css reset*/
body,h1,p,ul { margin: 0;padding: 0; }
img { border: none;vertical-align: top; }
a { text-decoration: none; }
li { list-style: none; }
body {
	width: 100%;height: 100%;
	background: #000 url(../images/bg.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	font-family: "Microsoft Yahei",sans-serif,Arial,Verdana;
}
.clearfix::after { content: "";display: block;clear: both; }
/*main left css*/
.container { background: rgba(0,0,0,0.6); }
.nav-section { width: 240px;height: 100%;min-height: 500px;background: rgba(0,0,0,0.7);float: left; }
.n-s-header { overflow: hidden; }
.header {
	width: 60%;height: 100%;
	margin: 0 auto;
	padding: 20px 0;box-sizing: border-box;
}
.header img { width: 100%;height: 100%; }
.menu { padding: 20px 0; }
.menu li {
	width: 100%;height: 70px;
}
.menu a,.menu span { display: block; }
.menu-icon {
	float: left;width: 80px;
	height: 70px;background-position: 50% 50%;
	background-size: 50% 50%;background-repeat: no-repeat;
	transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}
.menu a:hover { background: #27ae60; }
.menu a:hover .menu-icon {
	transform: rotate(360deg) scale(1.2);
	-ms-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	-o-transform: rotate(360deg) scale(1.2);
}
.menu a:hover .sub-item { color: #fafafa; }
.menu li:nth-of-type(1) .menu-icon { background-image: url(../images/mission.png); }
.menu li:nth-of-type(2) .menu-icon { background-image: url(../images/play.png); }
.menu li:nth-of-type(3) .menu-icon { background-image: url(../images/touch.png); }
.main-item { color: #fff;padding-top: 18px;padding-bottom: 8px; }
.sub-item {
	color: #808080;font-size: 12px;
	overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;
}
.n-s-footer { color: #fff;font-size: 14px;text-align: center; }
.n-s-footer p { height: 28px;line-height: 28px;letter-spacing: 1px;padding: 20px 0; }
/*main rigth*/
.content-section { width: calc(100% - 240px);float: left; }
.c-s-main { width: 100%;margin: 100px 0;float: left;position: relative;left: 50%; }
.c-s-main .link {
	width: 30%;max-width: 180px;margin: 0 60px;
	float: left;position: relative;left: -40%;
}
.c-s-main a {
	display: inline-block;width: 100%;position: relative;
	height: 50px;line-height: 50px;padding-left: 20px;
	color: #2ecc71;border: 2px solid rgba(255,255,255,0.8);
	box-sizing: border-box;background: transparent url(../images/allow.png) 130px center no-repeat;
	transition: all 0.4s ease;
}
.c-s-main a span { position: absolute;background: rgba(255,255,255,0);transition: all 0.4s ease; }
.line-top { width: 0px;height: 2px;left: -100%;top: -2px; }
.line-bottom { width: 0px;height: 2px;right: -100%;bottom: -2px; }
.line-left { width: 2px;height: 0;left: -2px;bottom: -100%; }
.line-right { width: 2px;height: 0;right: -2px;top: -100%; }
.c-s-main a:hover { border-color: rgba(255,255,255,1);background-position: 140px center; }
.c-s-main a:hover span { background: rgba(255,255,255,1); }
.c-s-main a:hover .line-top { width: 100%;left: 0; }
.c-s-main a:hover .line-bottom { width: 100%;right: 0; }
.c-s-main a:hover .line-left { height: 100%;bottom: 0; }
.c-s-main a:hover .line-right { height: 100%;top: 0; }
.icon {
	width: 100%;height: 170px;background-color: transparent;background-position: 0 0;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
}
.icon:hover { transform: rotate(360deg) scale(1.2); }
.link:nth-of-type(1) p { background-image: url(../images/mission.png); }
.link:nth-of-type(2) p { background-image: url(../images/play.png); }
.link:nth-of-type(3) p { background-image: url(../images/touch.png); }
.c-s-des { text-align: center;font: bold;font-size: 30px;color: #fff;letter-spacing: 2px; }