/* font */
@font-face {
   font-family: 'FontAwesome';
   src: url('../fonts/fontawesome-webfont.eot');
   src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/fontawesome-webfont.woff') format('woff'), 
            url('../fonts/fontawesome-webfont.ttf') format('truetype'),
            url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), 
            url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}
$c: #444;
/* reset */
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
ul {
	position: relative;
	margin: 0 0 0 15px;
}
li {
	margin: 0 0 5px 0;
	font-size: 14px;
}
p {
	text-align: justify;
	font-size: 14px;
}
a {
	color: $c;
	text-decoration: none;
	&:hover {
		text-decoration:underline;
	}
}
body {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
	line-height: 1.2em;	
	background-attachment: fixed;
	background: #f3f3f3 url(../images/soft_wallpaper.png) 0 0 repeat;
	color: $c;
}
.wrapper {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	padding:60px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.clear {
	clear: both;
}
.sticker{
	position: fixed;
	z-index: 1000;
	top: -60px;
	left: 0;
	right: 0;
	height: 55px;
	background: #fff;
	background: rgba(255,255,255,.98);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	.section-head{
		border: none;
		line-height: 55px;
		margin: 0 0 0 50px;
		padding: 0 0 0 8px;
		&::before {
			left: -40px;
			top:5px;
		}
	}
	.social-icons {
		top:10px;
		right: 15px;
	}
}
h3 {
	font-weight: bold;
	font-size: 14px;
}
.section-head {
	position: relative;
	clear: both;
	font:bold 20px/12px 'verdana',sans-serif;
	margin: 30px -60px;
	border-left: 52px solid $c;
	color: $c;
	padding:1px 0 0 8px;
	letter-spacing: 2px;
	&::before {
		content: "";
		position: absolute;
		width: 45px;
		height: 45px;
		left: -105px;
		top: -15px;
		background-image: url(../images/icons.png);
	}
	&.title-name {
		&::before {
			background-position: -90px bottom;
		}
	}
}
.tools::before {
	background-position: left top;
}
.learn::before {
	background-position: right top;
}
.ribbon::before {
	background-position: -90px top;
}
.chat::before {
	background-position: -45px top;
}
.contact::before {
	background-position: right bottom;
}
.description {
	position: relative;
	h2 {
		font-size: 16px;
	}
	p {
		position: relative;
		clear: left;
		max-width: 560px;
		margin:20px auto;
		padding:30px 60px;
		line-height: 1.6em;
		background: #fbfbfb;
		border: 1px solid #f3f3f3;
		border-width: 0 1px 1px;
		border-color: #fff #f3f3f3 #e8e8e8;
		border-radius: 8px;
	}
}

.social-icons {
	width: 50%;
	height: 30px;
	position: absolute;
	top: -50px;
	right: 0;
	text-align: right;
	.icon {
		width: 30px;
		height: 30px;
		margin: 0 0 0 3px;
		display: inline-block;
		border: 2px solid #2e2e2e;
		border-radius: 50%;
		box-sizing: border-box;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: #fff;
		transition: all 0.5s;
		&:hover {
			border-color: #aaa;
			transform:scale(1.2) rotate(360deg);
		}
		&-github{
			background-image: url(../images/github.png);
		}
		&-qq {
			background-image: url(../images/qq.png);
		}
		&-tao {
			background-image: url(../images/tb.png);
		}
		&-jd {
			background-image: url(../images/jd.png);
		}
		&-zh {
			background-image: url(../images/zh.png);
		}
	}
}
// skills
.skills {
	width: 100%;
	overflow: hidden;
	background:url(../images/loading.gif) no-repeat center 30%;
	&.ready {
		background: none;
	}
	li {
		position: relative;
		z-index: 1;
		right: 100%;
		background-color: $c;
		color: #fff;
		font:bold 9px/20px sans-serif;
		letter-spacing: 2px;
		margin-bottom: 8px;
		box-sizing: border-box;
		height: 26px;
		line-height: 26px;
		padding:0 6px;
		&:hover {
			background: #222;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 5px;
			line-height: 26px;
			width: 50px;
			text-align: right;
			color: #aaa;
		}
		span {
			display: none;
		}
		&.s90 {
			width: 90%;
			&::after {
				content: "90%";
			}
		}
		&.s60 {
			width: 60%;
			&::after {
				content: "60%";
			}
		}
		&.s70 {
			width: 70%;
			&::after {
				content: "70%";
			}
		}
		&.s50 {
			width: 50%;
			&::after {
				content: "50%";
			}
		}
		&.s30 {
			width: 30%;
			&::after {
				content: "30%";
			}
		}
	}
}

.project{
	li{
		margin: 0 0 30px 0;
		clear: both;
		>h3{
			font-family: 'FontAwesome';
			background: #f4f4f4;
			color: #aaa;
			padding-left: 5px;
			line-height: 25px;
			margin:0 0 30px -5px;
			&::before {
				content: "\f08d";
				padding-right: 15px;
			}
		}
	}
}
.honors-awards{
	li {
		padding-left: 5px;
		margin-bottom: 8px;
		list-style: none;
		font-family: "FontAwesome";
		position: relative;
		padding-left: 20px;
		&::before {
			content: "\f0ad";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}


.schools,
.project {
	margin: 0;
	list-style: none;
	li{
		margin: 0 0 20px 0;
		clear: both;
		.details {
			float: left;
			width: 30%;
			margin-bottom: 25px;
		}
		>p{
			float: right;
			width: 67%;
		}
	}
}

.details h5 {
	font-style: italic;
}
.contact-info {
	width: 100%;
	li {
		font-family: 'FontAwesome';
		color: #666;
		list-style: none;
		&::before {
			padding-right: 20px;
		}
	}
	.phone::before {
		content: "\f095";
	}
	.email::before {
		content: "\f003";
	}
	.page::before {
		content: "\f09b";
	}
	.download::before {
		content: "\f019";
	}
}
/* responsive */
@media screen and (max-width: 820px) {
	body{
	    background: #fff;
	}
    .sticker {
    	display: none;
    }
    .wrapper {
    	margin: 0 auto;
    	padding:30px;
    	background: #fff;
    	box-shadow: none;
    }
    .section-head {
    	font-size: 15px;
    	letter-spacing: -1px;
    	margin: 40px 0 50px -60px;
    	padding-left: 8px;
    }
    .title-name {
    	margin: 20px 0 10px -60px;
    }
    p {
    	text-align: left;
    }
    .social-icons {
        height: 30px;
        margin-top: 20px;
        position: relative;
        right: auto;
        text-align: left;
        top: auto;
        width: 100%;
    }
    .description h2 {
    	font-size: 12px;
    }
    .description p {
    	padding:0;
    	background: #fff;
    	max-width: 100%;
    	border: none;
    }
    .schools,
    .project{
    	li{
    		.details {
    			float: none;
    			width: 100%;
    		}
    		> p {
    			float: none;
    			width: 100%;
    			margin-bottom: 50px;
    			margin-top: 10px;
    		}
    	}
    }
}