@charset "UTF-8";
.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -249.975rem;
}

/* font */
@font-face {
  font-family: 'iconfont';
  /* project id 663454 */
  src: url("//at.alicdn.com/t/font_663454_6009bl9xy00ms4i.eot");
  src: url("//at.alicdn.com/t/font_663454_6009bl9xy00ms4i.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_663454_6009bl9xy00ms4i.woff") format("woff"), url("//at.alicdn.com/t/font_663454_6009bl9xy00ms4i.ttf") format("truetype"), url("//at.alicdn.com/t/font_663454_6009bl9xy00ms4i.svg#iconfont") format("svg");
}
.tit .icon, .social-networks a i, .projects dt::before, .skill-des li::before, .contact .icon {
  font-family: 'iconfont';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

a {
  color: #777777;
}
a:hover {
  text-decoration: underline;
}

/* layout */
body {
  font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
  line-height: 1.4em;
  background-color: #f3f3f3;
  color: #777777;
  font-size: 12px;
}

.wrapper {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 60px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tit {
  position: relative;
  clear: both;
  margin: 2% auto;
}
.tit-tag {
  position: relative;
  height: 45px;
  line-height: 45px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
}
.tit-tag::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -60px;
  top: 50%;
  margin-top: -6px;
  width: 52px;
  height: 12px;
  background-color: #444444;
}
.tit-tips {
  margin-top: -10px;
  font-size: 14px;
}
.tit .icon {
  position: absolute;
  width: 45px;
  height: 45px;
  left: -105px;
  top: 50%;
  margin-top: -22.5px;
  font-size: 22px;
  color: #444444;
}

.social-networks {
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
}
.social-networks a {
  float: right;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.social-networks a i {
  font-size: 22px;
}
.social-networks a:hover {
  color: #1596f5;
}

.simple-des {
  position: relative;
  margin: 20px auto;
  padding: 3% 6%;
  line-height: 1.6em;
  border: 1px solid #f3f3f3;
  background: #fbfbfb;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
.simple-des:hover {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
}

.skills li {
  position: relative;
  background-color: #444444;
  color: #fff;
  font: bold 10px/20px sans-serif;
  letter-spacing: 2px;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1em;
  padding: 6px;
  -webkit-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}
.skills .num {
  float: right;
  display: none;
}

/* // 栏*/
.rows {
  margin: 0 0 20px 0;
  clear: both;
  font-size: 13px;
  line-height: 1.4em;
}
.rows-det {
  float: left;
  width: 30%;
}
.rows-det .name {
  font-weight: bold;
  font-size: 14px;
}
.rows-det .name a, .rows-det .name span {
  display: block;
  opacity: 0.6;
}
.rows-det .name i {
  font-size: 10px;
  padding-left: 10px;
  opacity: 0.9;
  font-weight: normal;
  font-style: normal;
}
.rows-det .duration {
  font-style: italic;
}
.rows-des {
  float: right;
  width: 65%;
}

.education li {
  overflow: hidden;
  clear: both;
}

.projects dt {
  background: #f4f4f4;
  color: #aaa;
  padding-left: 5px;
  line-height: 25px;
  margin: 3% auto;
}
.projects dt::before {
  content: "\e66a";
  font-size: 12px;
  padding-right: 5px;
}
.projects dd {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
}

.company {
  float: right;
  padding: 0 10px;
  font-size: 14px;
  font-weight: normal;
}
.company em {
  padding-left: 10px;
  font-weight: bold;
}

.skill-des li {
  position: relative;
  padding-left: 25px;
  margin: 0 0 8px 0;
  font-size: 13px;
}
.skill-des li::before {
  content: "\e625";
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
}

.contact li {
  font-size: 14px;
  margin-bottom: 10px;
}
.contact .icon {
  padding-right: 15px;
}

/* media */
@media screen and (max-width: 768px) {
  .wrapper {
    overflow: hidden;
  }

  .rows-det,
  .rows-des {
    float: none;
    width: 100%;
  }

  .rows-det {
    margin-bottom: 3%;
  }
  .rows-det .name {
    background-color: #f90;
  }
  .rows-det .name a, .rows-det .name span {
    display: inline;
    padding-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .social-networks {
    display: none;
  }
}
/* 打印 */
@media print only {
  .tit .icon {
    display: none;
  }

  .simple-des {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .skills li {
    background: #f4f4f4;
    color: #aaa;
  }
}
