body,ul,p,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;font-weight: normal; }
body {
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
	line-height: 1.2em; 
	background-attachment: fixed;
	background: #f3f3f3 url(../images/soft_wallpaper.png) 0 0 repeat;
	color: #444;
}
@font-face {
   font-family: 'FontAwesome';
   src: url('../fonts/fontawesome-webfont.eot');
   src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/fontawesome-webfont.woff') format('woff'), 
            url('../fonts/fontawesome-webfont.ttf') format('truetype'),
            url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), 
            url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}
#wrapper {max-width: 700px; margin: 0 auto; padding:60px; background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.1); position: relative;}
ul {margin: 0 0 0 15px; position: relative;}
li {margin: 0 0 5px 0; font-size: 13px;}
p {text-align: justify; font-size: 13px;}
.clear {clear: both;}
a {color: #444; text-decoration: none;}
a:hover {text-decoration:underline;}

#sticker {position: fixed; top: -60px; left: 0; right: 0; background: #fff; background: rgba(255,255,255,.98); height: 55px; box-shadow: 0 0 3px rgba(0,0,0,.3); z-index: 1000;}
#sticker h2.sectionHead {border: none; margin: 0 0 0 50px; line-height: 55px; padding: 0 0 0 8px;}
#sticker h2.sectionHead::before {left: -40px; top:5px;}
#sticker #socialIcons {top:10px; right: 15px;}

h3 {font-weight: bold; font-size: 14px}

h2.sectionHead {
	clear: both; 
	font:bold 20px/12px 'verdana',sans-serif;
	margin: 60px -60px;
	border-left: 52px solid #444;
	color: #444;
	padding:1px 0 0 8px;
	letter-spacing: 2px;
	position: relative;
}
 h2.sectionHead::before {
	content: "";
	position: absolute;
	width: 45px;
	height: 45px;
	left: -105px;
	top: -15px;
	background-image: url(../images/icons.png);
} 

#titleName {margin: 20px -60px 10px;}

#titleName::before {background-position: -90px bottom;}
#tools::before {background-position: left top;}
#learn::before {background-position: right top;}
#ribbon::before {background-position: -90px top;}
#chat::before {background-position: -45px top;}
#contact::before {background-position: right bottom;}

#bio {position: relative;}
#bio h2 {font-size: 15px;}
#bio p {
	clear: left; 
	margin:20px auto;
	padding:30px 60px; 
	max-width: 560px; 
	background: #fbfbfb; 
	border: 1px solid #f3f3f3; 
	border-radius: 8px; 
	position: relative; 
	border-width: 0 1px 1px; 
	border-color: #fff #f3f3f3 #e8e8e8;
	line-height: 1.6em;
}

#socialIcons {width: 50%; height: 30px; position: absolute; top: -35px; right: 0; text-align: right;}
.socialIcon {
	width: 30px; 
	height: 30px; 
	margin: 0 0 0 3px; 
	display: inline-block; 
	border: 2px solid #2e2e2e;
	border-radius: 50%;
	box-sizing: border-box;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #fff;
	transition: all 0.5s;
}
.socialIcon:hover {border-color: #aaa;transform:scale(1.2) rotate(360deg); }
#githubIcon {background-image: url(../images/github.png);}
#QQIcon {background-image: url(../images/qq.png);}
#taoBaoIcon {background-image: url(../images/tb.png);}
#jdIcon {background-image: url(../images/jd.png);}
#zhiHuIcon {background-image: url(../images/zh.png);}

#project li {margin: 0 0 30px 0; clear: both;}
#project li > h3 {font-family: 'FontAwesome';background: #f4f4f4; color: #aaa; padding-left: 5px; line-height: 25px; margin:0 0 30px -5px;}
#project li > h3::before {content: "\f08d";padding-right: 15px;}

#skills {margin: 0; width: 100%; overflow: hidden; background:url(../images/loading.gif) no-repeat center 30%;}
#skills.ready {background: none;}
#skills li {
	position: relative;
	right: 100%;
	background-color: #444;
	color: #fff;
    font:bold 9px/20px sans-serif;
    letter-spacing: 2px;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding:3px 6px 0;
    z-index: 1;
}
#skills li::after {
	content: "";
	position: absolute;
	top: 0;
	right: 5px;
	line-height: 26px;
	width: 50px;
	text-align: right;
	color: #aaa;
}
#skills li.s90:after {content: "90%";}
#skills li.s60:after {content: "60%";}
#skills li.s70:after {content: "70%";}
#skills li.s50:after {content: "50%";}
#skills li.s30:after {content: "30%";}

#skills li span {display: none;}

#skills li:hover {background: #222;}

li.s90 {width: 90%;}
li.s60 {width: 60%;}
li.s70 {width: 70%;}
li.s50 {width: 50%;}
li.s30 {width: 30%;}

#honorsAwards li {padding-left: 5px; margin-bottom: 8px;list-style: none;font-family: "FontAwesome";position: relative;padding-left: 20px;}
#honorsAwards li::before { content: "\f0ad";position: absolute;left: 0;top: 0; }
#contactInfo {width: 100%;}

#schools,
#project {margin: 0; list-style: none;}

#schools li,
#project li {margin: 0 0 20px 0; clear: both;}

#schools li .details,
#project li .details {float: left; width: 30%; margin-bottom: 25px;}
#schools li > p,
#project li > p {float: right; width: 67%;}

.details h5 {font-style: italic;}

#contactInfo li { font-family: 'FontAwesome';color: #666;list-style: none; }
.phone::before,.email::before,.page::before,.download::before { padding-right: 20px; }
.phone::before { content: "\f095"; }
.email::before { content: "\f003"; }
.page::before { content: "\f09b"; }
.download::before { content: "\f019"; }


/*responsive*/
.respond {background: #fff;}
.respond #sticker {display: none;}
.respond #wrapper {margin: 0 auto; padding:30px; background: #fff; box-shadow: none;}

.respond h2.sectionHead {font-size: 15px; letter-spacing: -1px; margin: 40px 0 50px -60px; padding-left: 8px; }
.respond h2#titleName {margin: 20px 0 10px -60px;}

.respond p {text-align: left;}

.respond #socialIcons {
    height: 30px;
    margin-top: 20px;
    position: relative;
    right: auto;
    text-align: left;
    top: auto;
    width: 100%;
}

.respond #bio h2 {font-size: 12px;}
.respond #bio p {padding:0; background: #fff; max-width: 100%; border: none;}

.respond ul#schools li .details,
.respond ul#project li .details {float: none; width: 100%}
.respond ul#schools li > p,
.respond ul#project li > p {float: none; width: 100%; margin-bottom: 50px; margin-top: 10px;}


