<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>段家鹏-前端开发</title>
  <link rel="stylesheet" type="text/css" href="css/main.min.css" />
</head>

<body>
  <div id="app" class="wrapper">
    <h1 class="hidden">resume~</h1>
    <!-- 个人简介-S -->
    <div class="tit">
      <p class="tit-tag"><i class="icon">&#xe62d;</i>{{user.name}}</p>
      <p class="tit-tips">岗位：<span v-text="user.job"></span></p>
      <div class="social-networks">
        <a v-for="item in user.tags" :key="item.value" :href="item.url" target="_blank"><i v-html="item.icon"></i></a>
      </div>
    </div>
    <div class="simple-des">
      <p v-text="user.des"></p>
    </div>
    <!-- 个人简介-E -->

     <!-- 教育经历-S -->
     <div class="tit">
      <p class="tit-tag"><i class="icon">&#xe600;</i>教育经历</p>
    </div>
    <div class="rows education">
      <ul>
        <li v-for="item in user.edu" :key="item.school">
          <div class="rows-det">
            <p class="name">{{item.school}}<span>({{item.level}})</span></p>
            <p class="duration" v-text="item.years"></p>
          </div>
          <p class="rows-des" v-text="item.des"></p>
        </li>
      </ul>
    </div>
    <div class="tit">
      <p class="tit-tag"><i class="icon">&#xe63a;</i>联系我</p>
    </div>
    <div class="contact">
      <div>
        <ul>
          <li><i class="icon">&#xe602;</i>电话：<a :href="'tel:'+user.phone" v-text="user.phone"></a></li>
          <li>
            <i class="icon">&#xe605;</i>
            邮箱：
            <a target="_blank" href="//mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=UWRmZmVkaWRhYBEgIH8yPjw"></a>
            {{user.email}}<span>☞</span>
            </a>
          </li>
          <li><i class="icon">&#xe672;</i>主页：<a target="_blank" :href="user.page" v-text="user.page"></a></li>
          <li>
            <i class="icon">&#xe74c;</i>简历下载：<a href="//niceduang.github.io/resume/assets/段家鹏-前端开发-简历.pdf"
              download="段家鹏-前端开发-简历">
              pdf版
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 教育经历-E -->

    <!-- 个人技能-S -->
    <!-- <div class="tit">
				<p class="tit-tag"><i class="icon">&#xe621;</i>{{skills.name}}</p>
			</div>
			<div class="skills">
				<ul>
					<li v-for="item in skills.items" :key="item.name" :style="{width: item.step}">
						<span class="name" v-text="item.name"></span>
						<span class="num" v-text="item.step"></span>
					</li>
				</ul>
			</div> -->
    <!-- 个人技能-E -->

    <!-- 技能描述-S -->
    <div class="tit">
      <p class="tit-tag"><i class="icon">&#xe601;</i>{{skillDetail.name}}</p>
    </div>
    <div class="skill-des">
      <ul>
        <li v-for="item in skillDetail.list" :key="item" v-text="item"></li>
      </ul>
    </div>
    <!-- 技能描述-E -->

    <!-- 工作经验-S -->
    <div class="tit">
      <p class="tit-tag"><i class="icon">&#xe630;</i>{{experience.name}}</p>
    </div>
    <div class="rows projects">
      <dl v-for="item in experience.items" :key="item.company">
        <dt>{{item.company}} <span>({{item.date}})</span></dt>
        <dd v-for="it in item.projects" :key="it.name">
          <div class="rows-det">
            <p class="name">
              项目名称: {{it.name}}
              <a v-if="it.url" :href="it.url" target="_blank">项目地址<i>☞</i></a>
            </p>
          </div>
          <div class="rows-des">项目简介: {{it.des}}</div>
          <div class="rows-des">
            职责概述:
            <p v-for="(business,index) in it.business" :key="business">{{ index+1 }}. {{ business }}</p>
          </div>
        </dd>
      </dl>
    </div>
    <!-- 工作经验-E -->

    <!-- 个人作品-S -->
    <div class="tit">
      <p class="tit-tag"><i class="icon">&#xe630;</i>{{user.production.name}}</p>
    </div>
    <div class="production">
      <div class="des">{{user.production.desc}}</div>
      <div class="item" v-for="item in user.production.items" :key="item.name">
        <p class="name" v-text="item.name"></p>
        <p>体验地址：<a :href="item.url">{{item.url}}</a></p>
        <dl>
          <dt>技术栈：</dt>
          <dd v-for="it in item.skills" :key="it" v-text="it"></dd>
          <dt>项⽬描述：</dt>
          <dd v-for="(it, i) in item.des" :key="i">{{i+1}}. {{it}}</dd>
          <dt>数据流程图：</dt>
          <dd>
            <img :src="item.flowchart" alt="流程图" width="90%" />
          </dd>
        </dl>
      </div>
    </div>
    <!-- 个人作品-E -->

   
  </div>

  <script src="//cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        user: {
          name: '段家鹏',
          job: '前端开发',
          phone: '13297023004',
          email: 'niceduang@qq.com',
          page: 'https://niceduang.github.io',
          birth: '1993',
          edu: [
            {
              school: '黄淮学院',
              level: '统招本科',
              years: '2012.09 - 2016.06',
              des: '大学期间按照自己的入学规划不断充实丰富自己，取得计算机二级web程序设计等级证书，并两次获得校图书馆举办的征文比赛二等奖，利用寒暑假的时间在不同岗位实习，丰富社会经验的同时也减轻了父母的经济负担。',
            },
          ],
          des: '2016毕业担任前端开发岗位工作至今。本人闲暇时光喜欢球类运动,以及逛技术与设计相关论坛(如掘金,V2EX,前端圈,淘宝UED,CodePen等)以及知乎，简书，博客园等。浏览过程中能更快了解行业动态拓宽视野，也从中发现自己的不足，进而不断为自己充电，提升技能丰富经验。平时喜欢钻研技术，对代码编写力求清晰简洁，能够很快融入团队并肩作战。而且更是一个静的下心坐得住的人，深知学习能力是一生的，特别是互联网行业新技术层出不穷，需要自己不断的汲取新知识注入新血液来提升自己。',
          tags: [
            {
              value: 'Github',
              icon: '&#xe672;',
              url: 'https://github.com/niceduang/',
            },
            {
              value: 'QQ',
              icon: '&#xe603;',
              url: '//mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=UWRmZmVkaWRhYBEgIH8yPjw',
            },
          ],
          production: {
            name: '个人作品',
            desc: '既作为⾃⼰业余时间探索新技术的试验⽥，也满⾜⾃⼰收集中英双语的爱好',
            items: [
              {
                name: '双语学习项⽬',
                url: 'https://card.oncetry.cn',
                skills: [
                  '前台： Vue前台,React管理端,Uniapp小程序端',
                  '后台： Koa+Mongodb & Egg.js+Mysql(数据爬取自爱词霸英语平台)',
                  '服务器：Ubuntu+Nginx(docker 部署)',
                ],
                des: [
                  '项目打包利用 git webhook 实现自动打包部署,鉴于服务器配置低,没有采用 Jenkins 解决方案',
                  '部署(Puppeteer)期间遇到本地环境和 Linux 环境有出入后,甚至更换 CentOS 系统至 Ubuntu 皆未合理解决,最后了解到 docker 才得以解决',
                  '登录鉴权支持账号登录及第三方授权登录(Github Auth),及日志统计',
                  '数据爬取自爱词霸英语平台,先批量抓取历史数据清洗落库再开启定时任务爬取最新数据,并做了基本告警处理,在数据抓取异常会给自己发送告警邮件,并定期每周打包备份数据库自动上传到七牛云,以防数据丢失',
                ],
                flowchart: './img/card-process.png',
              },
            ],
          },
        },
        // skills: {
        // 	name: '个人技能',
        // 	items: [
        // 		{ name: 'ES6,Nodejs', step: '50%' },
        // 		{ name: 'Vue,React,jQuery,Zepto.js', step: '60%' },
        // 		{ name: 'webpack,gulp,git,svn', step: '45%' },
        // 		{ name: 'Photoshop', step: '30%' },
        // 	],
        // },
        skillDetail: {
          name: '技能描述',
          list: [
            '6 年多的互联网公司一线开发经验,有幸经历前端由原生传统模式到如今高度工程化发展的整个时期',
            '技术视野广阔,长期关注 JS,TS,Vue,React,Node,MySQL,MongoDB 等技术栈,并能熟练处理业务逻辑',
            '有丰富的前端工程化体系建设经验和意识,包含前端基座,基础组件,业务组件及脚手架,工具链建设',
            '有 server 端开发部署经验,能够独立开发部署前后端应用,如 BFF 架构或传统 MVC 架构',
            '有 onwer 意识,产品思维,能够站在用户角度思考产品设计与优化,提升程序易用性,提升用户体验',
            '开发中注重编码设计,追求易用易扩展 API 设计,协作中乐于分享,持续提升开发体验和探索最佳实践',
          ],
        },
        experience: {
          name: '工作经历',
          items: [
            {
              date: '2021.12-至今',
              company: '武汉路特斯科技',
              projects: [
                {
                  name: '智造工厂B端管理体系(路特斯)',
                  des: '汽车智造工厂相关业务线,框架基于 vue3.x 搭建,monorepo 模式管理,采用微服务架构以支撑工厂制造领域几十个业务子系统运行。',
                  url: '',
                  business: [
                    '负责前端基座架构设计,以 monorepo 模式管理,采用 lerna+yarn 进行多 package 管理,以解决依赖管理,开发调试困难',
                    '设计分包策略保障分层架构设计,以保证单包职责明确,减少耦合,在灵活性和扩展性有足够的优势,以应对可预见的未来',
                    '参与脚手架,工具链工程化体系建设,极大的提升了开发效率及体验,以避免人工手动操作带来的一些列不可控因素',
                    '推行并落地部门开发规范,借助 gitHooks+prettier+eslint 保证团队编码风格统一,以及 commit 规范,git flow 分支管理规范,code review 制度,极大提升了协同效率',
                    '主导了多个业务系统交付,无一 delay,并沉淀了较多通用组件,推行 UI 组件库统一,保障后续需求或场景开发效率',
                  ],
                },
              ],
            },
            {
              date: '2020.09-2021.12',
              company: '31 会议',
              projects: [
                {
                  name: '会展三方 B 端+C 端建设(31 会议)',
                  des: '服务会展三方相关系列产品,基于 vue2.x 搭建,包含 B 端, C 端及小程序端。',
                  url: '',
                  business: [
                    '攻克了小程序端复杂地图应用任务,在前端层面做了较多缓存优化,极大的减少了网络交互带来的延迟体验,保证了体验丝滑',
                    '彻底重构了 C 端核心搜索模块,有效控制粒度大小,保障了后续相关产品交付的可维护性',
                    '参与全产品线相关业务开发,沉淀了多个业务模块,及通用能力抽离,极大的提升了开发体验和交付效率',
                    '分析并优化了打包策略,探索最佳实践,使得相关系统交互体验及性能有了较大提升,同时节省较多不必要的网络开销',
                    '紧急支撑过多个会展服务,异常排查,以保障展会稳定进行',
                  ],
                },
              ],
            },
            {
              date: '2018.09-2020.04',
              company: '北京博睿宏远数据科技股份有限公司',
              projects: [
                {
                  name: '自定义仪表盘平台(博睿数据)',
                  des: '内部自定义仪表板搭建平台对标网易有数,支持多图表类型,多场景应用,web 端采用 Vue2.x+ECharts,server 端采用 Koa2.x+MySQL。',
                  url: '',
                  business: [
                    '参与前期技术调研,技术选型及组件协议拟定工作,同时落地协作规范,保证开发效率和体验',
                    '负责轴线图地图等相关图表组件封装,按照协议抹平各配置项的差异,保证 API 统一',
                    '负责 server 端相关表结构设计评审及相关接口开发,极大的提升了数据库设计能力,并在内部进行分享探讨',
                    '负责编写部署文档和使用说明手册,在部署的整个环节虽然踩了很多坑,但在 wiki 中梳理了较多文档,有效的保证了后续商业化交付时的效率',
                  ],
                },
              ],
            },
            {
              date: '2016.06-2018.09',
              company: '艺果未来文化传播有限公司',
              projects: [
                {
                  name: '游戏类 C 端落地页(武汉艺果)',
                  des: '公司业务为腾讯游戏拉新回流等一些列活动页开发及系统平台开发,主要使用原生 js+jquery,结合 gulp 做工程化构建。',
                  url: '',
                  business: [
                    '参与了非常多的活动页开发,极大的巩固并提升了原生 js 能力以及对交互动画有特别丰富的见解和经验',
                    '鉴于腾讯严格的审核机制,对编码规范有较高的要求,同时也约束了自己尽责苛刻的态度',
                    '毕业第一家公司,老板都是腾讯出来创业的,在公司两年多的沉淀,提升了太多不限于技术,产品,交互,协作,管理等多方面的能力,也对自己未来的职业生涯产生深远影响',
                  ],
                },
              ],
            },
          ],
        },
      },
      methods: {
        show: function () {
          alert('run...')
        },
      },
    })
  </script>
</body>

</html>