 html, body {
     position: relative;
     height: 100%;
 }
 body {
     background: #eee;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color:#000;
     margin: 0;
     padding: 0;
 }
 img { border: none;vertical-align: top; }
 .swiper-container {
     width: 100%;
     height: 100%;
 }
 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff url(../images/bg.jpg);
 }
 /*第一屏*/
 .swiper-slide:nth-of-type(1) .img { width: 80%;height: 40%;margin: 10% auto 0;border: 10px solid #fff; overflow: hidden;background: #fff url(../images/pic1.jpg) 50% 50% no-repeat;background-size: cover; }
 .swiper-slide:nth-of-type(1) .des { width: 90%;height: 40%; margin: 14% auto 0; }
 .swiper-slide:nth-of-type(1) .des img { width: 100%; }
 /*第一屏结束*/
 /*第二屏*/
 .swiper-slide:nth-of-type(2) { position: relative; }
 .swiper-slide:nth-of-type(2) img { position: absolute; }
.linger { width: 60%;border: 6px solid #fff;left: 5%;top: 65%; }
.xiaoyao { width: 80%;border: 6px solid #fff;top: 5%;right: 5%; }
.love1 { width: 100%;top: 40%;left: 10%; }
.love2 { width: 100%;top: 50%;left: 5%; }
.year { width: 100%;right: -80%;bottom: 0; }
 /*第二屏结束*/
 /*第三屏*/
 .swiper-slide:nth-of-type(3) { position: relative; }
 .swiper-slide:nth-of-type(3) img { position: absolute; }
 .swiper-slide:nth-of-type(3) img:nth-of-type(1) { width: 50%;border: 8px solid #fff;left: 3%;top: 5%; }
 .swiper-slide:nth-of-type(3) img:nth-of-type(2) { width: 80%;border: 8px solid #fff;right: 3%;bottom: 5%; }
 .swiper-slide:nth-of-type(3) img:nth-of-type(3) { width: 100%;top: 32%;left: 3%; }
 .swiper-slide:nth-of-type(3) img:nth-of-type(4) { width: 100%;top: 38%;left: 12%; }
 .swiper-slide:nth-of-type(3) img:nth-of-type(5) { width: 100%;top: 46%;left: 12%; }
 /*第三屏结束*/
 /*第四屏*/
 .swiper-slide:nth-of-type(4) { position: relative; }
 .swiper-slide:nth-of-type(4) img { position: absolute; }
 .swiper-slide:nth-of-type(4) img:nth-of-type(1) { width: 50%;border: 8px solid #fff;left: 3%;top: 5%; }
 .swiper-slide:nth-of-type(4) img:nth-of-type(2) { width: 80%;border: 8px solid #fff;right: 3%;bottom: 5%; }
 .swiper-slide:nth-of-type(4) img:nth-of-type(3) { width: 100%;top: 32%;left: 3%; }
 .swiper-slide:nth-of-type(4) img:nth-of-type(4) { width: 100%;top: 38%;left: 12%; }
 .swiper-slide:nth-of-type(4) img:nth-of-type(5) { width: 100%;top: 46%;left: 32%; }
 .swiper-slide:nth-of-type(4) img:nth-of-type(6) { width: 100%;top: 10%;left: 65%; }
 /*第四屏结束*/
 /*第五屏*/
 .swiper-slide:nth-of-type(5) .img { width: 80%;height: 40%;border: 10px solid #fff;margin: 10% auto 0px;overflow: hidden; }
 .swiper-slide:nth-of-type(5) .img img { width: 100%;height: 100%; }
 .swiper-slide:nth-of-type(5) { position: relative; }
 .swiper-slide:nth-of-type(5)>img { position: absolute;width: 100%; }
 .swiper-slide:nth-of-type(5)>img:nth-of-type(1) { left: 5%;top: 50%; }
 .swiper-slide:nth-of-type(5)>img:nth-of-type(2) { left: 5%;top: 58%; }
 .swiper-slide:nth-of-type(5)>img:nth-of-type(3) { left: 5%;top: 66%; }
 .swiper-slide:nth-of-type(5)>img:nth-of-type(4) { left: 5%;top: 74%; }
 .swiper-slide:nth-of-type(5)>img:nth-of-type(5) { left: 5%;top: 82%; }
 /*第五屏结束*/
 /*音乐按钮*/
 .music { width: 44px;height: 44px;position: absolute;top: 3%;right: 3%;z-index: 9; }
 .music img { width: 100%;position: absolute; }
 .music img:nth-of-type(1) { animation: musicRun 1s linear infinite; }
 .music img:nth-of-type(2) { top: -15px;left: 16px; }
 @keyframes musicRun {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }
 /*音乐按钮结束*/
 /* 箭头 */
  .arrow { position: absolute;width: 30px;height: 30px; left: 50%;bottom: 6%; z-index: 10;background:url(../images/arrow.png) 50% 50% no-repeat;background-size: cover;animation: arrowStar 1.5s ease-in-out infinite; }
 @keyframes arrowStar {
     from {
         transform: translate(-50%,25px);
     }
     to {
         transform: translate(-50%,0);
     }
 } 
 /* 箭头结束 */